body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 45px 0 45px;
}

h1 {
    text-align: center;
    background-color: #aecdfc;
    color: whitesmoke;
    -webkit-text-stroke: thin #347deb;
    border-radius: 5px;
    padding: 10px
}

#newt {
    width: 35%;
    border-radius: 10px;

}

#salsaphoto {
    width: 15%;
    border-radius: 5px;
    
}

#drogo {
    width: 35%;
    border-radius: 10px;
}

.dogsphoto {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
   
}

#lake {
    width: 100%;
    border-radius: 2px;
}

li:not(#exclude1) {
    font-style: italic;
    font-weight: bold;
}

.topics {
    background-image: linear-gradient(to bottom right, #347deb, #aecdfc);
    display: block;
    padding: 10px;
    color: whitesmoke;
    border-radius: 5px;
}

figcaption {
    font-size: small;
    margin-bottom: 25px;
}
